<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Novo post</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="title">
    <h1>Compartilhe suas ideias!</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nobis error quo voluptas vitae quidem labore iure repudiandae possimus laudantium, nemo quia dolor similique! Dolore nam recusandae repellendus esse numquam odit!</p>
  </div>

  <form class="form"></form>


</ion-content>
